<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Test Suite">
           <file>tests/TestIsIterable.php</file>
           <file>tests/TestIterableToArray.php</file>
           <file>tests/TestIterableToTraversable.php</file>
           <file>tests/TestIterableFilter.php</file>
           <file>tests/TestIterableMap.php</file>
           <file>tests/TestIterableObject.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>src/iterable-map-php53.php</file>
                <file>src/iterable-map-php55.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
